.amount-input {
    display: flex;
    height: 9rem;
    width: 9rem;
    margin: 0 auto;

    border: transparent;
    border-radius: 100%;

    background: transparent;
    box-shadow: inset 2px 2px 3px var(--background-color-shadow-dark),
    inset -1px -1px 2px var(--background-color-shadow-light);

    text-align: center;
    outline: 0;
    font-weight: 400;
    font-size: var(--text-l);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
