.category-input {
    height: 50%;
    display: flex;
    color: var(--text-color);
}

.category-input ul {
    width: 100%;
    display: inline-flex;
    list-style: none;

    overflow-x: scroll;
    scroll-behavior: smooth;
}

.category-input ul li {
    width: auto;
    margin: var(--margin-sm) var(--margin-sm);

    border-radius: 25px;
    border: solid 1px transparent;

    padding: 0 1rem;
    line-height: 2rem;
    text-align: center;
    font-weight: 300;
    font-size: var(--text-m);
    user-select: none;
    outline: 0;
}

.category-input ul li:hover {
    cursor: pointer;
}

.category-input .category-input--active {
    border: solid 1px var(--background-color-shadow-dark);
}
