.add-transaction {
    display: flex;
    width: 95%;
    height: auto;
    margin: 0.5rem auto;

    border-radius: 8px;
    border: solid 1px transparent;
    background: var(--background-color);
    box-shadow: 0 8px 10px var(--app-background-shadow-dark);
}

.add-transaction__error {
    border: solid 1px var(--color-danger);
}

.add-transaction__right {
    width: 60%;
    height: 15rem;
}

.add-transaction__left {
    width: 40%;
    height: 15rem;
}

.add-transaction__bottom {
    height: 2.5rem;
    margin: 3rem auto 0;
    text-align: center;
}

.add-transaction__bottom span {
    display: inline-grid;
    width: 2rem;
    height: 2rem;
    margin-left: var(--margin-sm);

    padding: var(--padding-sm);
    border-radius: 100%;
    text-align: center;
    line-height: 2rem;
    font-weight: 300;
    color: var(--text-color);
    font-size: var(--text-m);
    user-select: none;
    cursor: pointer;
    outline: 0;

    box-shadow: 3px 3px 8px var(--app-background-shadow-dark),
    -4px -4px 8px white;
}

.add-transaction__bottom span:active {
    background: var(--app-background);
    box-shadow: inset 4px 4px 8px var(--app-background-shadow-dark),
    inset -4px -4px 8px white;
}
