.add-transaction {
    display: flex;
    width: 90%;
    margin: 0 auto;
    height: 8rem;
    padding: var(--padding-xsm) 0;

    border: solid 1px transparent;

    border-radius: 8px;
    background: var(--app-background);
    box-shadow: 3px 3px 8px var(--app-background-shadow-dark),
    -4px -4px 8px white;
}

.add-transaction__error {
    border: solid 1px var(--color-danger);
}

.add-transaction__description {
    width: 65%;
    height: 100%;
    margin-left: var(--margin-xsm);
}

.add-transaction__amount {
    width: 35%;
    height: 100%;
    margin-right: var(--margin-xsm);
}

.add-transaction__controls {
    width: 90%;
    height: 3rem;
    margin: var(--margin-sm) auto;
}

.add-transaction__controls a {
    float: right;
    width: 1rem;
    height: 1rem;
    margin-left: var(--margin-sm);
    padding: var(--padding-sm);

    border-radius: 100%;
    text-decoration: none;
    text-align: center;
    line-height: 1rem;
    font-weight: 300;
    font-size: var(--text-m);
    user-select: none;
    outline: 0;

    background: var(--app-background);
    box-shadow: 3px 3px 8px var(--app-background-shadow-dark),
    -4px -4px 8px white;
}

.add-transaction__controls a:hover {
    cursor: pointer;
}

.add-transaction__controls--cancel {
    color: var(--text-color);
}

.add-transaction__controls--cancel:active {
    background: var(--app-background);
    box-shadow: inset 4px 4px 8px var(--app-background-shadow-dark),
    inset -4px -4px 8px white;
}

.add-transaction__controls--save {
    color: var(--text-color);
}

.add-transaction__controls--save:active {
    background: var(--app-background);
    box-shadow: inset 4px 4px 8px var(--app-background-shadow-dark),
    inset -4px -4px 8px white;
}
