.type-input {
    width: 100%;
    height: 5rem;

    font-weight: 400;
    font-size: var(--text-sm);
    cursor: pointer;
    user-select: none;
    outline: 0;

    color: var(--text-color);

    border: transparent;
    background: transparent;
}
