.transaction__type-income {
    color: var(--income-text-color);
}

.transaction__type-credit {
    color: var(--credit-card-text-color);
}

.transaction__type-debit {
    color: var(--debit-text-color);
}
