.transaction {
    display: flex;
    width: 90%;
    margin: 0 auto var(--margin-xl);

    border-radius: 8px;
    background: var(--app-background);
    box-shadow: 3px 3px 8px var(--app-background-shadow-dark),
    -4px -4px 8px white;
}

.transaction__description {
    width: 100%;
    height: 80px;
    min-width: 200px;
    display: inline-grid;
    align-content: center;
}

.transaction__name {
    color: var(--text-color);
    font-size: var(--text-sm);
    margin-left: var(--margin-sm);
    margin-bottom: var(--margin-sm);
}

.transaction__date {
    color: var(--text-color-light);
    font-size: var(--text-xsm);
    margin-left: var(--margin-sm);
}

.transaction__amount {
    width: 80px;
    height: 80px;
    display: inline-grid;
    align-content: center;
    text-align: center;
    font-weight: 600;
    font-size: var(--text-sm);
}
