header {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: 0 auto var(--margin-sm);

    border-radius: 8px;
    border: solid 1px transparent;
    background: var(--background-color);
    box-shadow: 0 8px 10px var(--app-background-shadow-dark);
}

.months-nav {
    padding: var(--padding-xsm);
    overflow: hidden;
}

.months-nav__list {
    width: 100%;
    display: inline-flex;
    list-style: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-weight: 400;

    font-size: var(--text-xsm);
    color: var(--text-color);
}

.months-nav__list li {
    height: auto;
    min-width: 95px;
    text-align: center;
    border-radius: 50px;
    border: solid 1px transparent;
    user-select: none;
    padding: var(--padding-xsm);
    margin: 0 var(--margin-xsm);
}

.months-nav__list li:hover {
    cursor: pointer;
}

.months-nav__list .months-nav__list--active {
    background: var(--background-color);

    box-shadow: inset 2px 2px 3px var(--background-color-shadow-dark),
    inset -1px -1px 2px var(--background-color-shadow-light);
}

.account {
    display: flex;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);

    font-weight: 400;
    font-size: var(--text-l);
    justify-content: center;
    color: var(--text-color)
}
