.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

header {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    box-shadow: 0 1px 3px var(--border-color);
    border-bottom: solid 1px var(--border-color);
    margin-bottom: var(--margin-sm);
}

.months-nav {
    padding: var(--pading-xsm);
    overflow: hidden;
}

.months-nav__list {
    width: var(--width-full);
    display: inline-flex;
    list-style: none;
    overflow-y: scroll;
    scroll-behavior: smooth;
    font-weight: 300;

    font-size: var(--text-xsm);
    color: var(--text-color);
}

.months-nav__list li {
    height: auto;
    min-width: 95px;
    text-align: center;
    border-radius: 50px;
    border: solid 1px transparent;
    user-select: none;
    padding: var(--pading-xsm);
    margin: 0 var(--margin-xsm);
}

.months-nav__list li:hover {
    cursor: pointer;
    border: solid 1px var(--border-color);
}

.months-nav__list .months-nav__list--active {
    background-color: var(--background-color-active);
    border: solid 1px var(--border-color);
    color: var(--text-color-active)
}

.account {
    display: flex;
    padding-top: var(--pading-m);
    padding-bottom: var(--pading-m);

    font-weight: 300;
    font-size: var(--text-l);
    justify-content: center;
}

.account--positive {
    color: var(--text-color-positive)
}

.account--negative {
    color: var(--text-color-negative)
}
