body {
    --app-background: #F4F3EF;
    --app-background-shadow-dark: #D7D6D2;
    --app-background-shadow-light: #DCDBD7;

    --background-color: #ABE3CC;
    --background-color-shadow-light: #C0FEE4;
    --background-color-shadow-dark: #7EC7AD;

    --text-color: #006647;

    --income-text-color: #4F7CD2;
    --debit-text-color: #E28676;
    --credit-card-text-color: #907ED1;

    --color-success: #6ad277;
    --color-danger: #e88a79;
    --color-info: #8cc4ff;

    --text-xsm: 0.75rem;
    --text-sm: 1rem;
    --text-m: 1.25rem;
    --text-l: 1.50rem;
    --text-xl: 1.75rem;

    --margin-xsm: 0.5rem;
    --margin-sm: 1rem;
    --margin-m: 1.25rem;
    --margin-l: 1.50rem;
    --margin-xl: 1.75rem;
    --margin-xxl: 2rem;

    --padding-xsm: 0.5rem;
    --padding-sm: 1rem;
    --padding-m: 1.25rem;
}

.app {
}

.content {
    padding-top: 15rem;
    width: 95%;
    margin: 0 auto;
}
